<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:label="Xpecta"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:label"> <!-- Tambahkan tools:replace -->
        ...
    </application>
</manifest>
